body{
    margin:0;
    background-color: #555;
    width: 100%;
    font-family: sans-serif;
    font-size: 100%;
}

#main {
    width: 100%;
}

#site-navbar{
    width: 100%;
    height: 55px;
    background-color: #333;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    z-index: 1;
}

.container {
    position: relative;
    z-index: 0;
    width: 75%;
    min-height: 920px;
    margin: 0 12.5%;
    background-color: #888;
    padding: 25px 10px;
    text-align: center;
    box-shadow: -2px 0 3px -1px rgba(0,0,0,0.25), 2px 0 3px -1px rgba(0,0,0,0.25);
    color: #333;
    font-size: 20px;
}

.container a{
    color: rgb(170,80,0);
    text-decoration: none;
}
.container a:hover{
    color: rgb(200,100,0);
}

#site-navbar a {
    height: 55px;
    color: #eee;
    font-weight: 600;
    font-size: 28px;
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-decoration: none;
    border-right: 1px solid rgba(0,0,0,0.25);
}
#site-navbar a:not(#brand-logo):hover{
    background-color:  rgba(255,255,255,0.03);
}
#site-navbar #brand-logo {
    font-size: 35px;
    padding-left: 8px;
    padding-right:8px;
    color: rgb(190,90,0);
    background-color: rgba(255,255,255,0.05);
}
.form {
    text-align: center;
    display: block;
    min-width: 51%;
    margin: 6px auto;
    width: 606px;
}
.form .form-input{
    display: inline-block;
    position: relative;
    text-align: left;
    width: 45%;
}
.form .form-input:nth-child(1) input{
     margin-right: 20px;
 }
.form .form-input:nth-child(2) input{
    margin-left: 20px;
}
.form .form-input input[type=text]{
    display: inline-block;
    height: 25px;
    border: 1px solid #555555;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
}
.form .form-input label{
    display: none;
    position: absolute;
    z-index: 2;
    left: 6px;
    text-align: left;
    font-size: 23px;
    color: #777;
}
#top-space{
    display: inline-block;
    width: 100%;
    height: 50px;
}
.full-width{
    min-width: 51%;
    width: 606px;
    display: block !important;
}
.btn{
    display: inline-block;
    padding: 6px 8px;
    margin: 5px auto;
    border: 1px solid rgb(170,80,0);
    background-color: rgb(190,90,0);
    border-radius: 5px;
    color: #eee;
    font-weight: 600;
    font-size: 23px;
}
.btn:hover{
    background-color: rgb(200,100,0);
    cursor: pointer;
}

.alert {
    font-size: 20px;
    font-weight: 600;
    padding: 6px 8px;
    margin: 5px auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}
.alert-success {
    border-color: #595;
    background-color: #8d8;
    color: #595;
}
.alert-error {
    border-color: #955;
    background-color: #d88;
    color: #955;
}
.alert-warning {
    border-color: #a72;
    background-color: #eb3;
    color: #a72;
}
.alert-description {
    font-weight: 500;
    text-align: left;
}

.lyrics {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #444;
    padding: 10px 3px;
    font-size: 20px;
    color: #ddd;
    margin-top: 10px;
    min-width:51%;
    width: 606px;
}
.flagged {
    color: #a55;

}
.flagged strong{
    color: #e55;
}

.collapsed-true .alert-description {
    height: 0;
    visibility: collapse;
}
.collapsed-false .alert-description{
    height: unset;
    visibility: visible;
}

.alert-title{
    min-width: 100%;
    position: relative;
}

.collapsed-true .alert-title:after{
    font-family: FontAwesome;
    content: '\f054';
    position: absolute;
    right: 5px;
}
.collapsed-false .alert-title:after{
    font-family: FontAwesome;
    content: '\f078 ';
    position: absolute;
    right: 5px;
}
#final-song-title{
    margin: 5px auto;
    text-align: center;
}
.song-title {
    font-size: 27px;
    font-weight: 600;
}
.artist-title {
    font-size: 20px;
    font-weight: 500;
}
.search-result{
    margin: 5px auto;
}
.search-result-header {
    font-size: 24px;
    font-weight: 600;
}
.search-result-item{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    padding: 5px 5px 5px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #777;
    color: #eee;
    margin-top: 5px;
    font-size: 20px;
}
.search-result-item:hover{
    box-shadow: 2px 3px 5px #666;
    cursor: pointer;
}

@media screen and (max-device-width: 600px) {
    #main{
        height: 100vh;
        width: 100vw;
    }
    #site-navbar {
        position: fixed;
        height: 10vw;
        width: 100vw;
    }
    #site-navbar a {
        height: 10vw;
        font-size: 6vw;
        /*display: table-cell;*/
        padding-left: 1vw;
        padding-right: 1vw;
    }
    #site-navbar #brand-logo {
        font-size: 7vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .container {
        width: 100vw;
        min-height: 100vh;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        font-size: 4vw;
    }
    #top-space {
        height: 11vw;
    }
    .form{
        max-width: 99%;
        width: 97%;
        margin: 0 1%;
    }
    .form .form-input {
        width: 100%;
        margin-bottom: 2vw;
    }
    .form .form-input:nth-child(1) input{
        margin-right: 0;
    }
    .form .form-input:nth-child(2) input{
        margin-left: 0;
    }
    .form .form-input input[type=text]{
        display: block;
        height: 9vw;
        border-radius: 1vw;
        font-size: 6vw;
        padding-left: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        max-width: 98%;
        width: 98%;
    }

    .full-width {
        width: 100%;
        max-width: 99%;
    }

    .btn{
        padding: 1vw 1vw;
        margin: 1vw auto;
        border-radius: 1vw;
        font-size: 7vw;
    }

    .alert {
        max-width: 98%;
        font-size: 5vw;
        padding: 1vw 0;
        margin: 1vw 1%;
        border-radius: 1vw;
    }

    .lyrics {
        border-radius: 1vw;
        padding: 2vw 1.1vw;
        font-size: 5vw;
        width: 98%;
        max-width: 96%;
        margin: 2vw 1%;
    }

    .collapsed-true .alert-title:after{
        top: 0.5vw;
        right: 2vw;
    }
    .collapsed-false .alert-title:after{
        top: 0.5vw;
        right: 2vw;
    }
    .song-title {
        font-size: 9vw;
        display: block;
    }
    .artist-title {
        font-size: 7vw;
        display: block;
    }

    .search-result-header {
        font-size: 7vw;
    }
    .search-result-item{
        width: 100%;
        max-width: 98vw;
        padding: 2vw 0 2vw 0;
        border: 0.5vw solid #555;
        border-radius: 0.5vw;
        margin-top: 1vw;
        font-size: 6vw;
    }
}
