<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LyricProf</title>
    <link rel="stylesheet" href="css/index-stylesheet.css" />
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/ngEnter.js"></script>
    <link rel="stylesheet" href="lib/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="lib/favicon-meh-o.ico" />
</head>
<body ng-app="app" ng-init="test='Hello World'">
    <div id="main" ng-controller="ctrl">
        <div id="site-navbar">
            <a id="brand-logo" href="index.html">
                LyricProf
            </a>
            <a id="about" class="navbar-link" href="about.html">
                About
            </a>
        </div>
        <div class="container">
            <div id="top-space"></div>

            <?= 'Hello World'?>

            <div class="form">
                <div class="form-input">
                    <label for="song-search">Song</label>
                    <input id="song-search" type="text" name="song" placeholder="Song" ng-model="search_song" ng-enter="search()">
                </div>
                <div class="form-input">
                    <label for="artist-search">Artist</label>
                    <input id="artist-search" type="text" name="artist" placeholder="Artist" ng-model="search_artist" ng-enter="search()">
                </div>
                <br>
                <div class="btn full-width" ng-click="search()">Search</div>
            </div>
            <div style="margin-top: 10px;" ng-show="searching">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
            <div class="alert alert-error full-width ng-cloak" ng-show="error">
                <i class="fa fa-times" aria-hidden="true"></i> Error
            </div>
            <div class="alert alert-error full-width ng-cloak" ng-show="song_unfound">
                <i class="fa fa-times" aria-hidden="true"></i> Song Not Found <br>
                <div style="font-weight: 500; text-align: left">
                    Check
                    <ul style="margin-top: 0;">
                        <li>Spelling</li>
                        <li>Case (mainly for songs that are a few words bunched together)</li>
                        <li>Spacing (when words <span style="font-style: italic">aren't</span> supposed to be bunched together)</li>
                    </ul>
                </div>
            </div>

            <div class="alert alert-success full-width" ng-show="song_found && !dirty">
                <i class="fa fa-check" aria-hidden="true"></i> Clean
            </div>
            <div class="alert alert-warning full-width" ng-show="dirty">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Possibly Dirty
                <div style="font-weight: 500; text-align: left">
                    Keep in mind
                    <ul style="margin-top: 0;">
                        <li>"Hell" shows up in "Hello"</li>
                        <li>"Shit" shows up in "Bullshit"</li>
                        <li>Therefore, profanity is very subjective, this just cuts down on reading</li>
                    </ul>
                </div>
            </div>

            <div class="flagged lyrics" ng-show="dirty">
                <div ng-repeat="l in flaggedLyrics track by $index">
                    {{l}}
                </div>
            </div>

            <div class="lyrics" ng-show="song_found">
                <div ng-repeat="l in fullLyrics track by $index">
                    {{l}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>